<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- ************************************************************************************************ -->
	<annotation-driven />
	<resources mapping="/resources/**" location="/resources/" />
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	
	
	<beans:bean id="daoEtudiant" class="com.formation.formation.dao.ImplDaoEtudiant"></beans:bean>
     <beans:bean id="metierEtudiant" class="com.formation.formation.metier.ImplMetierEtudiant">
		<beans:property name="daoEtudiant" ref="daoEtudiant"></beans:property>
	 </beans:bean>
	 <beans:bean id="daoExamen" class="com.formation.formation.dao.ImplDaoExamen"></beans:bean>
     <beans:bean id="metierExamen" class="com.formation.formation.metier.ImplMetierExamen">
		<beans:property name="daoExamen" ref="daoExamen"></beans:property>
	 </beans:bean>
	 <beans:bean id="daoMateriel" class="com.formation.formation.dao.ImplDaoMateriel"></beans:bean>
     <beans:bean id="metierMateriel" class="com.formation.formation.metier.ImplMetierMateriel">
		<beans:property name="daoMateriel" ref="daoMateriel"></beans:property>
	 </beans:bean>
	 <beans:bean id="daoModule" class="com.formation.formation.dao.ImplDAOModule"></beans:bean>
     <beans:bean id="metierModule" class="com.formation.formation.metier.ImplMetierModule">
		<beans:property name="daoModule" ref="daoEtudiant"></beans:property>
	 </beans:bean>
	 <beans:bean id="daoSalle" class="com.formation.formation.dao.ImplDaoSalle"></beans:bean>
     <beans:bean id="metierSalle" class="com.formation.formation.metier.ImplMetierSalle">
		<beans:property name="daoSalle" ref="daoSalle"></beans:property>
	 </beans:bean>
	 <beans:bean id="daoSessions" class="com.formation.formation.dao.ImplDAOSession"></beans:bean>
     <beans:bean id="metierSessions" class="com.formation.formation.metier.ImplMetierSessions">
		<beans:property name="daoSessions" ref="daoSessions"></beans:property>
	 </beans:bean>
	 
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url" value="jdbc:mysql://localhost/formation"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value=""></beans:property>
	</beans:bean>
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<beans:property name="defaultDataSource" ref="datasource"></beans:property>
		<beans:property name="persistenceXmlLocations">
			<beans:list>
				<beans:value>classpath*:META-INF/persistence.xml</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean id="EntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<beans:property name="persistenceUnitManager" ref="PersistenceUnitManager"></beans:property>
		<beans:property name="persistenceUnitName" value="UP_formation"></beans:property>
	</beans:bean>
	<!-- ************************************************************************************************ -->
	
	<!-- ************************************************************************************************ -->
	<beans:bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<beans:property name="entityManagerFactory" ref="EntityManagerFactory"></beans:property>
	</beans:bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
	<!-- ************************************************************************************************ -->

</beans:beans>
